@{
}
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-4 text-center mb-3 mb-md-0">
            <img src="~/images/perfil.png" class="rounded-circle img-fluid shadow" width="150" height="150" alt="Foto de perfil de Jean Pierre Lobaton" />
        </div>
        <div class="col-md-8">
            <h1 class="display-5 fw-bold">Jean Pierre Lobaton</h1>
            <div class="d-flex gap-4 mb-2 text-secondary">
                <a href="https://github.com/JeanClix" target="_blank" class="text-decoration-none text-secondary">
                    <i class="bi bi-github"></i> JeanClix
                </a>
                <a href="https://www.linkedin.com/in/jeanlobaton/" target="_blank" class="text-decoration-none text-secondary">
                    <i class="bi bi-linkedin"></i> jeanlobaton
                </a>
                <a class="text-decoration-none text-secondary">
                    <i class="bi bi-envelope-fill"></i> jp10.02.2003@gmail.com
                </a>
            </div>
            <p class="lead">
                Hola, soy un <strong>desarrollador web apasionado</strong> por la tecnología y el <u>aprendizaje continuo</u>.
                Me encanta crear aplicaciones web que sean intuitivas y fáciles de usar.
            </p>
        </div>
    </div>
</div>
